body,
html {
 height: 100vh;
}

.containerDespesasPrincipal {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #124559;

 height: 100vh;
}

@media (min-width: 200px) and (max-width: 640px) {
 .containerDespesasPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #124559;

  height: 100%;
 }
}
